# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

# Templates
# ---------

[templates]
defer = """{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source "{{ file }}"\n{% endfor %}{{ hooks?.post | nl }}"""
defer-more = """{{ hooks?.pre | nl }}{% for file in files %}zsh-defer -t 0.5 source "{{ file }}"\n{% endfor %}{{ hooks?.post | nl }}"""
fzf-install = """{{ dir }}/install --bin > /dev/null \n[[ ! $PATH =~ {{ dir }} ]] && export PATH="$PATH:{{ dir }}/bin"\n"""

# Completions
# -----------

[plugins.docker-zsh-completion]
github = "greymd/docker-zsh-completion"

[plugins.rust-zsh-completions]
github = "ryutok/rust-zsh-completions"

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"

# Sourced
# -------

# The history plugin doesn't like being deferred, not sure why.
[plugins.history]
github = "ohmyzsh/ohmyzsh"
dir = "lib"
hooks.pre = """
export HIST_STAMPS="yyyy-mm-dd"
export HISTSIZE=1000000
export SAVESIZE=1000000
"""
hooks.post = """
setopt hist_fcntl_lock     # may improve performance
setopt hist_reduce_blanks  # remove superfluous whitespaces
"""

[plugins.zsh-256color]
github = "chrissicool/zsh-256color"
hooks.post = "[[ $COLORTERM == *(24bit|truecolor)* ]] || zmodload zsh/nearcolor 2>/dev/null"

[plugins.powerlevel10k]
github = "romkatv/powerlevel10k"
hooks.post = "[[ -f ~/.p10k.zsh ]] && source ~/.p10k.zsh"

[plugins.zsh-defer]
github = "romkatv/zsh-defer"

# fzf plugins
# ----------------

[plugins.zoxide]
# Note: this plugin should be loaded after compinit
local = "~/.zsh/plugins"
hooks.post = "zsh-defer source \"${HOME}/.zsh/plugins/zoxide.plugin.zsh\""

[plugins.fzf]
github = "junegunn/fzf"
apply = ["fzf-install"]

[plugins.fzf-config]
local = "~/.zsh/plugins"
use = ["fzf.plugin.zsh"]

[plugins.fzf-tab]
# Note: this plugin should be loaded after compinit
github = "Aloxaf/fzf-tab"

[plugins.fzf-tab-config]
local = "~/.zsh/plugins"
use = ["fzf-tab.plugin.zsh"]

# Deferred plugins
# ----------------

[plugins.aliases]
local = "~/.zsh/plugins"
apply = ["defer"]

[plugins.bd]
github = "Tarrasch/zsh-bd"
use = ["bd.zsh"]
apply = ["defer"]

[plugins.cheat-completion]
remote = "https://github.com/cheat/cheat/raw/master/scripts/cheat.zsh"
use = ["{{ name }}.plugin.zsh"]
apply = ["fpath"]

[plugins.copy]
local = "~/.zsh/plugins"
apply = ["defer"]

[plugins.eza]
local = "~/.zsh/plugins"
apply = ["defer"]

[plugins.eza-completion]
remote = "https://github.com/eza-community/eza/raw/main/completions/zsh/_eza"
apply = ["fpath"]

[plugins.git]
local = "~/.zsh/plugins"
apply = ["defer"]

[plugins.gpg-agent]
local = "~/.zsh/plugins"
apply = ["defer"]

[plugins.k]
github = "supercrabtree/k"
use = ["k.sh"]
apply = ["defer"]

[plugins.ohmyzsh-lib]
github = "ohmyzsh/ohmyzsh"
dir = "lib"
use = ["{clipboard,completion,functions,git,key-bindings,termsupport,theme-and-appearance}.zsh"]
apply = ["defer"]
hooks.post="""
# Do not complete '.' and '..' special directories.
zsh-defer zstyle ':completion:*' special-dirs false
# Revert key-bindings for history search
zsh-defer bindkey -M emacs '^R' fzf-history-widget
"""

[plugins.ohmyzsh-plugins]
github = "ohmyzsh/ohmyzsh"
dir = "plugins"
use = ["{aliases,colored-man-pages,copybuffer,copypath,zoxide}/*.plugin.zsh"]
apply = ["defer"]

[plugins.open]
# Note: open_command is defined in ohmyzsh/lib/functions.zsh.
inline = "zsh-defer alias open=open_command"

[plugins.pdm-completion]
inline = "command -v pdm 1>/dev/null 2>&1 && pdm completion zsh > ~/.zsh/functions/_pdm"

[plugins.rye-completion]
inline = "command -v rye 1>/dev/null 2>&1 && rye self completion -s zsh > ~/.zsh/functions/_rye"

[plugins.ssh-agent]
local = "~/.zsh/plugins"
apply = ["defer"]

[plugins.syntax-highlight]
github = "z-shell/F-Sy-H"
apply = ["defer"]

[plugins.tealdeer-completion]
remote = "https://github.com/dbrgn/tealdeer/raw/main/completion/zsh_tealdeer"
apply = ["fpath"]

# This should be loaded AFTER zsh-syntax-highlighting.
[plugins.zsh-history-substring-search]
github = "zsh-users/zsh-history-substring-search"
apply = ["defer"]
hooks.post = "bindkey -e '^P' history-substring-search-up; bindkey -e '^N' history-substring-search-down"

[plugins.zsh-you-should-use]
github = "MichaelAquilina/zsh-you-should-use"
apply = ["defer"]
hooks.pre = "export YSU_MODE=ALL"

[plugins.functions]
local = "~/.zsh/functions"
apply = ["fpath"]


# Plugins that are even more deferred
# -----------------------------------
[plugins.ghq]
local = "~/.zsh/plugins"
apply = ["defer-more"]

[plugins.python]
local = "~/.zsh/plugins"
apply = ["defer-more"]


# Plugins that should be loaded last
# ----------------------------------
# This works best if it is placed last.
[plugins.compinit]
local = "~/.zsh/plugins"
apply = ["defer"]

[plugins.zsh-autosuggestions]
# Note: this plugin should be loaded after fzf-tab
# Note: defer does not work somehow
github = "zsh-users/zsh-autosuggestions"
use = ["{{ name }}.zsh"]
hooks.post = """ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=244""""
