[advice]
  detachedHead = false
  statusHints = false
[alias]
  alias = "!_() { git config --global alias.$1 \"$2\"; }; _"
  aliases = config --get-regexp ^alias\\.
	checkup = !git log -1 && (git fetch --all 2>/dev/null || true) && git status
  contributors = shortlog -s -n
# Run a command as in the repository root. See
# https://stackoverflow.com/questions/957928#comment9747528_957978.
  exec = "!exec "
  nevermind = !git reset --hard HEAD && git clean -d -f
  last = log -1 HEAD --format=format:"%Cred%H"
  root = rev-list --max-parents=0 HEAD
  precommit = diff --cached -w --word-diff=color --word-diff-regex='[^[:space:]<>]+'
  prestage = diff -w --word-diff=color
	setup = !git init && git commit --allow-empty -m \"Initial commit\"
  tree = log --graph --date=short --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
	unalias = "!_() { git config --global --unset alias.$1; }; _"
  unstage = reset -q HEAD --
[branch]
# When creates a new branch that exists on a remote always makes it
# track its remote counterpart. Also, 'git pull' always performs a
# rebase, not a merge. See https://stackoverflow.com/a/22147540.
  autoSetupMerge = always
  autoSetupRebase = always
[color]
  ui = auto
[core]
  autocrlf = input
  editor = vim
  excludesfile = ~/.gitexclude
  fscache = true
  ignoreCase = false
  pager = less -FRSX
  preloadIndex = true
  whitespace = cr-at-eol
[credential]
	helper =
	helper = cache --timeout 86400
[diff]
	mnemonicPrefix = true
	renames = copies
	submodule = log
[fetch]
	# Automatically prune stale branches from the remote on every
	# fetch.
	prune = true
[ghq]
  root = ~/.go/src
  root = ~/usr/ghq
[include]
	path = ~/.gitconfig.local
[merge]
	conflictStyle = diff3
	stat = true
[protocol "hg"]
	allow = always
[pull]
	ff = only
[push]
	default = current
[rebase]
  autosquash = true
[receive]
	denyCurrentBranch = updateInstead
[rerere]
	enabled = true
[status]
	submoduleSummary = true
[user]
  name = Hiroshi Atsuta
  email = atsuta.hiroshi@gmail.com

